---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Muhammad Hafid Khoirul";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="bg-red-50">
		<p>ZXC</p>
	</div>
</BaseLayout>
