---

---

<div class="flex gap-4 h-44 items-center">
  <div class="w-1/3 h-full">
    <img
      src="/post-1.webp"
      alt=""
      class="w-full h-full object-cover rounded-md"
    />
  </div>
  <div class="w-2/3">
    <a
      href="/posts/post-1"
      class="text-xl font-semibold text-lime-600 hover:text-lime-700">TITLE</a
    >
    <p class="mt-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis
      recusandae voluptatum, iste sit repellendus aspernatur. Mollitia eum,
      nihil aliquam quidem autem voluptates a. Quam sint labore ratione vitae
      quibusdam!
    </p>
    <div class="flex text-sm gap-4 text-violet-600 mt-2">
      <p>Programming</p>
      <p>General</p>
      <p>Ruby on Rails</p>
    </div>
  </div>
</div>
