---

---

<nav
  class="max-w-screen-md mx-auto px-6 py-10 border-b border-lime-600 border-opacity-25"
>
  <a href="/" class="text-xl font-bold"
    >Muhammad <span class="text-lime-600">Hafid</span> K</a
  >
  <div class="mt-2 flex gap-6 text-sm">
    <a href="/about" class="hover:text-lime-600">About</a>
    <p>|</p>
    <a href="/blog" class="hover:text-lime-600">Blog</a>
    <p>|</p>
    <a href="/#contact" class="hover:text-lime-600">Contact</a>
  </div>
</nav>
